h1{
    display: block;
    margin: auto;
    text-align: center;
}
#container{
    display: grid;
    margin: auto;
    width: 30vw;
    height: 40vh;
    border: 1px solid turquoise;
}
.cell{
    border-left: 1px solid turquoise;
    border-right: 1px solid turquoise;
    border-top: 1px solid turquoise;
    border-bottom: 1px solid turquoise;
}